<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Home</title>
    <style>
        body {
            background-color: #37517E; /* Set your desired background color here */
        }
        
        .hero-img {
            max-height: 600px; 
        }
    </style>
</head>
<body>

    <header>
        
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #37517E;">
            <div class="container">
                <a class="navbar-brand text-white" href="#">Password Generator</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active ">
                            <a class="nav-link text-white" href="/">Home</a>
                        </li>
                    
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="hero" class="d-flex align-items-center">
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-6 mt-5">
                    <h1>Generate Your Password</h1>
                    <form method="POST" action="{% url 'generator' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="length">Password Length:</label>
                            <select class="form-control" name="length">
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12" selected="selected">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                            </select>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" name="uppercase" value="1">
                            <label class="form-check-label" for="uppercase">Uppercase</label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" name="specialcharacter" value="1">
                            <label class="form-check-label" for="specialcharacter">Special Character</label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="checkbox" name="number" value="1">
                            <label class="form-check-label" for="number">Number</label>
                        </div>
                        <button type="submit" name="generate" class="btn btn-primary mt-2">Generate Password</button>
                    </form>
                    <div class="container mt-5 text-center">
                        {% if password %}
                        <h1 class="alert alert-success mt-6">{{ password }}</h1>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img mt-5">
                    <img src="../../static/assets/why-us.png" class="img-fluid" alt="Hero Image">
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
